
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+NZ:wght@100..400&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    background-color: #142318;
}
.navbar{
    width: 100vw;
    height: 120px;
    background-color: #01370F;
    box-shadow: 2px 2px 2px rgb(3, 91, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    align-items: center;
    margin-inline-start: 50px;
}
.logoimg{
    height: 115px;
}
.contents{
    margin-inline-end: 50px ;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
  
    
}
.topbar{
    width: 100vw;
    height: 32px;
    background-color:  #c8f36b;
    margin-bottom: 3px;
    box-shadow: 2px 2px 2px #9dd81e;
    
}


  .navlinks{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    
}

.navlinks > .navlink{
    display: inline-block;
    margin: 0 24px;
    position: relative;
  
} 


.navlinks > .navlink > a {
    text-decoration: none;
    display: flex;
    padding: 16px 0;
    columns: #231111;
    font-weight: 500;
    transition: .3s ease;
    color: #cced85;
}

.navlinks > .navlink:hover > a{
        color:  #ebfcc6;
        transform: translateY(-3px);
        transition: 0.2s ease-in-out;
}

.navlink > a > .fa-caret-down {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-left: 8px;
    transition: .3s ease;
    pointer-events: none;
}

.navlink:hover > a > .fa-caret-down{
    transform: rotate(-180deg);
}

.navlinks > .navlink > .dropdown-menu{
    width: 200px;
   
    position: absolute;
    top: 80%;
    left: -16px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transform: translateY(0);
    transition: 0.3s ease;
    visibility: hidden;
    opacity: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.navlinks > .navlink:hover > .dropdown-menu{
    transform: translate(8px);
    visibility: visible;
    opacity: 1;
}

.navlinks > .navlink > .dropdown-menu > .dropdown-menu-item{
    list-style: none;

}
.navlinks > .navlink > .dropdown-menu > .dropdown-menu-item > a {
    text-decoration: none;
    display: block;
    color: #777;
    font-weight: 500;
    transition: 0.3s ease;
    padding: 16px;


}


.navlinks > .navlink > .dropdown-menu > .dropdown-menu-item > a:hover{
    color: #2d57d9;
    background-color: #2d58d92f;

}



.wideimg{
    margin-top: 2px;
    display: flex;
    height: 250px;
    background-image: url("images/bg.jpg");
    background-position: center;
    background-size: cover;
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #0c0202;
   background-blend-mode:hard-light;
   font-size: 63px;
}

.wideimgtext{
    padding: 40px;

    font-family: "Bebas Neue", sans-serif;
    text-shadow: 2px 2px 2px #777;
    background-color: #68030385;
    
}

.wideimgtext:hover{
    transform: translateY(-3px);
    text-shadow: 2px 2px 2px #5f5c5c;
    
    transition: 0.1s ease-in-out;
}

.container{
    gap: 70px;
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 70px;
}

.container .card{
    position: relative;
    max-width: 330px;
    height: 270px;
    background-color: #480134d2;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    /*box-shadow: 0 5px 20px #300123;*/
    box-shadow: -5px 5px 2px #2a011ed2;
    transition: 0.3s ease-in-out;
}

.container .card:hover{
    height: 427px;
    cursor: pointer;
}

.container .card .cardimg{
    position: relative;
    width: 286px;
    height: 288px;
    top: -60px;
    left: 20px;
    box-shadow: -5px 5px 2px #2a021e;
    z-index: 1;
}

.container .card .cardimg img{
    max-width: 100%;
    border-radius: 5px;

}

.container .card .cardcontent{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .cardcontent{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.1s;
}

.productsheading{
    padding: 60px;
    justify-content: center;
    text-align:center;
    background-color: #0b32159d;
    box-shadow: 2px 2px 2px #0b32159d;
    color: white;

}

.bigfooter{
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    width: 100vw;
    height: 280px;
    background-color: #27011c7b;
    border-block: solid rgb(242, 237, 227) 1.5px;
    align-content: center;
}

.footer-text{
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;
}

.footer-text-heading{
    color: rgb(223, 102, 41);
    font-size: 23px;
    font-family: "Bebas Neue", sans-serif;
}



.footer-text-list h5 > a{
    text-decoration: none;
    color: rgb(241, 191, 142);
   font-size: 12px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-text-list h5 > a:hover{
    cursor: pointer;
    color: rgb(243, 229, 216);
    text-shadow: 1px 1px 1px rgb(243, 229, 216);
}

.bigfooter-para{
    color: rgb(225, 254, 181);
    font-size: 20px;
    width: 200px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bottomlogo img{
    height: 150px;
    box-shadow: -4px 4px 4px #12010dd2 ;
    border-radius: 10%;
   
}


.bottomlogo img:hover{
    box-shadow: -4px 4px 4px #35031cd2 ;
}
.smallfooter{
    display: flex;
    padding: 60px;
    justify-content: space-around;
    width: 100vw;
    height: 100px;
    background-color: #1a0313d2;
}

.smallfooter h4>  a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/*for wideimg*/
@media (min-width: 600px) and (max-width: 825px) {
    .wideimg{
        font-size: 45px;
        transition: 0.2s ease ;
    }
    .bigfooter-para{
        font-size: 13px;
    }
  
}

@media (min-width: 495px) and  (max-width: 600px) {
    .wideimg{
        font-size: 35px;
        transition: 0.2s ease ;
    }

    .bigfooter{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 495px) {
    .wideimg{
        font-size: 26px;
        transition: 0.2s ease ;
    }
}

/*for baaki sab */
@media (min-width:530px) and (max-width: 700px) {
    
    .navlinks{
        font-size: 15px;
    }

    .navlinks > .navlink{
        display: inline-block;
        margin: 0 12px;
        position: relative;
      
    }
    .logoimg{
        height: 100px;
    }
    .contents{
        margin-inline-end: 25px ;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
      
        
    }
    
}

@media  (min-width:460px) and (max-width: 530px) {
    
    .navlinks{
        font-size: 13px;
        
    }

    .navlinks > .navlink{
       
        margin: 0 11px;
        position: relative;
      
    } 
    .logoimg{
        height: 90px;
    }
    .contents{
        margin-inline-end: 20px ;
        align-items: center;
        justify-content: center;
        padding: 13px 0;
      
        
    }

}

@media(max-width: 460px) {
    
    .navlinks{
        font-size: 12px;
      
        
        
    }
    .navlinks > .navlink{
       
        margin: 0 4.0px;
        position: relative;
      
    } 

    .logoimg{
        height: 80px;
    }
    .contents{
        margin-inline-end: 15px ;
        margin-inline-start: 15px ;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
      
        
    }

}
